.search_input {
    border: 1px solid rgba(28, 29, 30, 0.2);
    border-radius: 0px 8px 8px 0px;
    border-left: none;
    width: 20vw;
    height: 35px;
    background: white;
    padding: 5px;
}

 .navbar .search-btn {
    height: 35px;
    border: 1px solid rgba(28, 29, 30, 0.2);
    border-radius: 8px 0px 0px 8px;
    border-right: none;
    background: #FFFFFF;
}

.lf-main{
    background-image: url(../public/img/login-bg.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 625px;
}

.lf-icon{
    background: #fff;
    border-radius: 50%;
    width:45px;
    height:45px;
}
